interactions:
- request:
    body: '{"estimated_delivery_dates": [{"slug":"fedex","service_type_name":"FEDEX HOME DELIVERY","origin_address":{"country":"USA","state":"WA","postal_code":"98108","raw_location":"Seattle, Washington, 98108, USA, United States"},"destination_address":{"country":"USA","state":"CA","postal_code":"92019","raw_location":"El Cajon, California, 92019, USA, United States"},"weight":{"unit":"kg","value":11},"package_count":1,"pickup_time":"2021-07-01 15:00:00","estimated_pickup":{"order_processing_time":{},"pickup_time":""}}]}'
    headers:
      Content-Type:
      - application/json
      aftership-api-key:
      - YOUR_API_KEY_IS_HERE
    method: POST
    uri: https://api.aftership.com/v4/estimated-delivery-date/predict-batch
  response:
    body:
      string: '{"meta":{"code":200},"data":{"estimated_delivery_dates":[{"slug":"fedex","service_type_name":"FEDEX HOME DELIVERY","origin_address":{"country":"USA","state":"WA","postal_code":"98108","raw_location":"Seattle, Washington, 98108, USA, United States","city":null},"destination_address":{"country":"USA","state":"CA","postal_code":"92019","raw_location":"El Cajon, California, 92019, USA, United States","city":null},"weight":{"unit":"kg","value":11},"package_count":1,"pickup_time":"2021-07-01 15:00:00","estimated_pickup":null,"estimated_delivery_date":"2021-07-05","estimated_delivery_date_min":"2021-07-04","estimated_delivery_date_max":"2021-07-05"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-RateLimit-Limit:
      - '10000'
      X-RateLimit-Remaining:
      - '9994'
      X-RateLimit-Reset:
      - '1582623688'
      X-Response-Time:
      - 256.222ms
    status:
      code: 200
      message: OK
version: 1