interactions:
- request:
    body: null
    headers:
      aftership-api-key:
      - YOUR_API_KEY_IS_HERE
    method: GET
    uri: https://api.aftership.com/v4/notifications/k5lh7dy7vvqeck71p5loe011
  response:
    body:
      string: '{"meta":{"code":200},"data":{"notification":{"android":[],"emails":["jk.zhang@aftership.com"],"ios":[],"smses":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-RateLimit-Limit:
      - '10000'
      X-RateLimit-Remaining:
      - '9993'
      X-RateLimit-Reset:
      - '1582623688'
      X-Response-Time:
      - 74.699ms
    status:
      code: 200
      message: OK
version: 1
