interactions:
- request:
    body: '{"notification": {"emails": ["support@aftership.com"]}}'
    headers:
      Content-Type:
      - application/json
      aftership-api-key:
      - YOUR_API_KEY_IS_HERE
    method: POST
    uri: https://api.aftership.com/v4/notifications/k5lh7dy7vvqeck71p5loe011/remove
  response:
    body:
      string: '{"meta":{"code":201},"data":{"notification":{"android":[],"emails":["jk.zhang@aftership.com"],"ios":[],"smses":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-RateLimit-Limit:
      - '10000'
      X-RateLimit-Remaining:
      - '9992'
      X-RateLimit-Reset:
      - '1582623688'
      X-Response-Time:
      - 357.226ms
    status:
      code: 201
      message: Created
version: 1
