interactions:
- request:
    body: '{"tracking": {"slug": "4px", "tracking_number": "HH19260817"}}'
    headers:
      Content-Type:
      - application/json
      aftership-api-key:
      - YOUR_API_KEY_IS_HERE
    method: POST
    uri: https://api.aftership.com/v4/trackings
  response:
    body:
      string: '{"meta":{"code":4003,"message":"Tracking already exists.","type":"BadRequest"},"data":{"tracking":{"slug":"4px","tracking_number":"HH19260817","id":"ony1lcaofyn82laapzmq000j","created_at":"2022-11-10T06:59:43+00:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-RateLimit-Limit:
      - '10'
      X-RateLimit-Remaining:
      - '9'
      X-RateLimit-Reset:
      - '1668071634'
      X-Response-Time:
      - 69.360ms
    status:
      code: 400
      message: Bad Request
version: 1
