interactions:
- request:
    body: '{"tracking": {"slug": "4px", "tracking_number": "HH19260817"}}'
    headers:
      Content-Type:
      - application/json
      as-api-key:
      - YOUR_AS_API_KEY
      as-signature-hmac-sha256:
      - IKa1n5z+uRwKCPiRY8IPnT/NvHhWN+v4s5WTc2seHP4=
    method: POST
    uri: https://api.aftership.com/v4/trackings
  response:
    body:
      string: '{"meta":{"code":4003,"message":"Tracking already exists.","type":"BadRequest"},"data":{"tracking":{"slug":"4px","tracking_number":"HH19260817","id":"phxlzirpyzrugla7v9shg01w","created_at":"2022-11-08T07:04:17+00:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-RateLimit-Limit:
      - '10'
      X-RateLimit-Remaining:
      - '9'
      X-RateLimit-Reset:
      - '1668071631'
      X-Response-Time:
      - 39.173ms
    status:
      code: 400
      message: Bad Request
version: 1
