interactions:
- request:
    body: '{"tracking": {"slug": "postnl-3s", "tracking_number": "3SKAAG5995399",
      "tracking_destination_country": "ESP", "tracking_postal_code": "46970"}}'
    headers:
      Content-Type:
      - application/json
      aftership-api-key:
      - YOUR_API_KEY_IS_HERE
    method: POST
    uri: https://api.aftership.com/v4/trackings
  response:
    body:
      string: '{"meta":{"code":4003,"message":"Tracking already exists.","type":"BadRequest"},"data":{"tracking":{"slug":"postnl-3s","tracking_number":"3SKAAG5995399","tracking_destination_country":"ESP","tracking_postal_code":"46970","id":"tck0h13sl0z0ulaapzq2h00f","created_at":"2022-11-10T06:59:48+00:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-RateLimit-Limit:
      - '10'
      X-RateLimit-Remaining:
      - '9'
      X-RateLimit-Reset:
      - '1668071639'
      X-Response-Time:
      - 93.736ms
    status:
      code: 400
      message: Bad Request
version: 1
